html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
}

/* font-size by default is 16px */

body, table, input, button{
    font: inherit;
}
/* we do font: inherit; in order to ensure that everything from html is inherited */

h1, h2, h3, h4, h5, h6{
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: normal;
}
/* font-weight means that the elements won't be bold */

h1{font-size: 3em;}
h2{font-size: 2.4em;}
h3{font-size: 1.8em;}
h4{font-size: 1.4em;}
h5{font-size: 1.2em; font-weight: bold;}
h6{font-size: 1em;font-weight: bold;}
/* 1em = 100% of base font size */

ul, ol, blockquote{
    padding-left: 1.5em;
}

p, * + ul, * + ol{
    padding-bottom: 1.5em;
}

/* OR BELOW */
/* ul ul, ul ol, ol ul, ol ol{
    padding-bottom: 0;
} */

ul, ol{
    list-style-position: inside;
    list-style-type: disc;
}
/* list-style-position: inside; за да не ни излиза листа извън бордера */

blockquote{
    border-left: 4px solid grey;
    margin-bottom: 1.5em;
    font-style: italic;
    color: #666
}

blockquote p:first-child:before{
    display: inline-block;
    content: '"';
}
blockquote p:nth-last-child(2):after{
    display: inline-block;
    content: '"';
}

blockquote p:last-child{
    padding-bottom: 0;
}

blockquote p.author{
    text-align: right;
    color: black;
}

/* last-child - последния наследник от blockquote p */

blockquote p.author:before{
    display: inline-block;
    content: '- ';
    padding-right: 0.5em;
}
/* mdash */